body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #333; /* Dark ash background color */
    color: #fff; /* White text color */
  }
  
  header {
    width: 100%;
    background-color: #1a1a1a; /* Darker background for the header */
    padding: 10px;
    box-sizing: border-box;
  }
  
  .header-content {
    display: flex;
    flex-direction: column; /* Change to column */
    justify-content: center; /* Align content to the center */
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; /* Set a maximum width for better layout on larger screens */
  }
  
  h1 {
    text-align: center;
    color: #fff; /* White text color */
    margin-top: 10px; /* Add margin for spacing */
  }
  
  .container {
    text-align: center;
  }
  
  .content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #walletAddress {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #555; /* Darker ash background color */
    color: #fff; /* White text color */
  }
  
  .bitcoin-balance-box {
    border: 1px solid #ddd;
    background-color: #555; /* Darker ash background color */
    color: #fff; /* White text color */
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
  }