body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark ash background color */
    color: #fff; /* Text color */
}

header {
    background-color: #0053a0; /* Binance blue */
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #444; /* Darker ash background color for sections */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #0053a0; /* Binance blue */
}

.investment-plan {
    margin-bottom: 20px;
}

.investment-plan h3 {
    color: #ffbf00; /* Gold color for plan titles */
}

.investment-plan p {
    color: #ccc; /* Lighter text color for plan descriptions */
}

.transaction {
    margin-bottom: 10px;
    border-bottom: 1px solid #666; /* Border between transactions */
    padding-bottom: 10px;
}

.transaction-type {
    font-weight: bold;
}

.transaction-details,
.transaction-date {
    color: #ccc; /* Lighter text color for transaction details */
}
