<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <meta name="description" content="Easily buy Bitcoin in minutes. Zero fees on recurring purchases. Invest in Bitcoin with confidence with world-class security.">

    <meta property="og:image" content="https://river.com/images/social/river-preview-1d7f875b692a43a2d831ac6f5169ee0e.webp">
    <meta property="og:title" content="River | Buy Bitcoin Instantly">
    <meta property="og:description" content="Easily buy Bitcoin in minutes. Zero fees on recurring purchases. Invest in Bitcoin with confidence with world-class security.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://river.com/">
    <meta property="og:site_name" content="River">
    <meta name="apple-itunes-app" content="app-id=1536176542">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="favicons/manifest-632dd6e1af167f4453962ccc33097eb0.json">
    <meta name="msapplication-TileColor" content="#da532c">
    
    <link rel="icon" type="image/x-icon" href="https://river.com/favicon-cc5379015391eb450b0dcab60a8a6a8f.ico">
</head>

    <body id="app">
        <nav role="navigation">
          <div class="fixed left-0 right-0 z-10 max-h-screen overflow-y-scroll lg:overflow-y-visible js-nav-wrapper">
            <div class="c-nav-content relative flex flex-wrap items-center justify-between px-6 py-4 mx-auto text-base sm:px-10 max-w-screen-2xl xl:px-20">
              <a href="app.html">
                <img class="h[38px]" src="images/logo/logo-88256519050c5e84fcbd2120a81b2097.svg" alt="River Logo">
              </a>


    <a href="/">LETS GET STARTED INVESTOR!</a>

    <% if (user) { %>
        <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
    <% } else { %>
        <h1>Hello Guest</h1>
    <% } %>



</body>
</html>