<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Login | River</title>
<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-0217627fa829b5feea655c136fc35616.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32-af6c7d29cbb7bcc92778f262d52f3280.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16-cb6ebc512359f071b9b587706eec423f.png">

<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="favicons/manifest-632dd6e1af167f4453962ccc33097eb0.json">
<meta name="msapplication-TileColor" content="#da532c">

<link rel="icon" type="image/x-icon" href="https://river.com/favicon-cc5379015391eb450b0dcab60a8a6a8f.ico">

    <script defer type="text/javascript" src="js/sentry-e7b35a0990ff3c9300e061f6786912bf.js">
    </script>

<meta content="app-id=1536176542" name="apple-itunes-app">

  <script defer rel="text/javascript" src="js/shared-c7ae3aba2d3a4aee038cf6ab1e5c5c01.js">
  </script>
  <script defer type="text/javascript" src="js/app-c42ca0b754a073fb4c65470c29f67382.js">
  </script>

  <link rel="stylesheet" href="/css/app-9aad7cae1b6ed39554674a9577e3af8d.css">
  <link rel="preload" as="style" href="/css/public-d36dd9976002823b2a2cd32f00fa1703.css">
  <link rel="stylesheet" href="/css/public-d36dd9976002823b2a2cd32f00fa1703.css">

</head>
  <body id="app">
<nav role="navigation">
  <div class="flex flex-row items-center justify-between px-6 py-4 mx-auto text-base sm:px-10 max-w-screen-xl xl:px-20">
    <a href="app.html">
      <img src="images/logo/logo-88256519050c5e84fcbd2120a81b2097.svg" alt="River Logo">
    </a>


  </div>
</nav>
<div id="shared_app_layout" class="flex flex-grow justify-center ">
  <div class="flex flex-col flex-grow justify-between items-center mx-4 md:mx-10">
    <div class="flex flex-col flex-grow w-full max-w-screen-xl items-center ">

  <article class="flex flex-col self-center w-full max-w-screen-2xl overflow-hidden   ">
  <section class="mx-4 sm:mx-8 md:mx-10 lg:mx-20 flex flex-col items-center mt-6 sm:mt-12 ">
    <div class="border border-white border-opacity-10 rounded-2xl flex flex-col w-full md:w-690 px-4 py-5 mb-md:px-6 sm:px-12 sm:py-7 bg-gray-775" style="">

        <h3 class="text-gray-25 font-semibold mb-2">
  Sign into River
</h3>

<ul>
  <% if(messages.success_msg) { %>
    <li><%= messages.success_msg %></li>
  <% } %>
</ul>


<ul>
  <% if(messages.error) { %>
    <li><%= messages.error %></li>
  <% } %>
</ul>

<form action="/users/login" method="POST">

        <label class="text-gray-25 text-base font-medium pt-6 mt-0">

          Email Address
          <input autocomplete="off" autofocus class="text-base font-normal border-solid border focus:border-gold-500 rounded-md text-gray-25 text-base font-normal rounded-md border border-gray-350 bg-gray-725 mt-2 placeholder-gray-350 py-3 px-4 mt-2 px-4 py-3 w-full text-gray-60 bg-gray-815 border-gray-325 placeholder-gray-315" id="session_email" name="email" placeholder="Enter Email Address" required type="email">

</label>
        <label class="text-gray-25 text-base font-medium pt-6 mt-0">

          Password
          <div class="relative" x-data="{input: 'password'}">

    <div @click="togglePasswordVisibility" tabindex="-1" class="absolute c-password_toggle right-0 cursor-pointer show_password_svg"></div>

  <input id="session_password" name="password" class="text-base font-normal border-solid border focus:border-gold-500 rounded-md text-gray-25 text-base font-normal rounded-md border border-gray-350 bg-gray-725 mt-2 placeholder-gray-350 py-3 px-4 mt-2 px-4 py-3 w-full text-gray-60 bg-gray-815 border-gray-325 placeholder-gray-315" required name="password" id="password" value="" type="password" placeholder="Enter Password" x-bind:type="input">
</div>

</label>
        <div>
          <a class="c-link font-normal" href="forgot_password.html">
            Forgot password?
          </a>
        </div>

    <input type="submit" value="Login" class="block rounded-md
transition duration-150 ease-linear transition-all
text-center justify-center
text-base tracking-normal leading-6
focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed
 bg-gold-500 border border-gold-500 text-gray-875 hover:bg-gold-400 font-semibold w-auto px-6 py-2 md:px-8 md:py-3 skip-form-styling normal-case mx-auto mt-8 text-lg">
    </button>

</form>
</div>
    <a class="c-link mt-4 font-normal" href="/users/signup">
      Create new account
    </a>

</section>
</article>

    </div>
    <div class="w-full max-w-screen-xl">

<footer class="c-app-footer h-mt-5">
  <div class="c-app-footer__inner">
    <a class="c-link" href="https://status.river.com">Site Status</a>
    <a class="c-link" href="institutions.html" >
      Institutions
    </a>
    <a class="c-link" href="about.html">About</a>
    <a class="c-link" href="legal/privacy.html" >
      Privacy Policy
    </a>
    <a class="c-link" href="legal/terms.html" >
      Terms of Service
    </a>
    <a class="c-link" href="security.html" >Security</a>
    <span>© 2023 River Financial Inc.</span>
  </div>
</footer>
    </div>
  </div>
</div>

  </body>
</html>